html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Baloo Thambi 2', cursive;
	font-weight: 400;
	background: #f0f5ff;
}

.mobile-only {
	display: none;
}

/* --- START OF BUTTON --- */
.button {
	padding: 10px 20px;
	border: 1px solid #7084bd;
	border-radius: 4px;
	background: transparent;
	color: #7084bd;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	transition: 0.2s all;
	cursor: pointer;
	outline: none;
}

.button:disabled {
	cursor: progress;
}

.button:disabled:hover {
	background: transparent;
	color: #7084bd;
}

.button:hover {
	background: #7084bd;
	color: #fff;
}

.button--small {
	font-size: 10px;
	font-weight: 400;
	padding: 4px 8px;
}

.button--red {
	border-color: #ff5555;
	color: #ff5555;
}

.button--red:hover {
	background: #ff5555;
	color: #fff;
}
/* --- END OF BUTTON --- */

/* --- START OF CLIENT TABLE --- */
.client-table {
	height: 100%;
	max-width: 960px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.client-table__options {
	flex: 0 0 auto;
	padding-bottom: 20px;
}

.client-table__container {
	flex: 0 1 auto;
	overflow: auto;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	scroll-behavior: smooth;
}

.client-table__container--loading {
	height: 500px;
	background: white;
	position: relative;
}

.client-table__container--loading .spinner {
	display: none;
}

.client-table__container--loading .spinner {
	display: block;
}

.client-table__table {
	width: 100%;
	border-collapse: collapse;
	background: white;
	border-style: hidden;
	position: relative;
}

.client-table__table th {
	position: sticky;
	position: -webkit-sticky;
	background: white;
	top: 0;
	box-shadow: 0 1px 0 0 #d4d4d4;
	font-weight: bold;
}

.client-table__table tbody tr {
	transition: 0.2s all;
}

.client-table__table tbody tr.new-client {
	background: #fff895;
}

.client-table__table tbody tr:hover {
	background: #f7f7f7;
}

.client-table__table th,
.client-table__table td {
	text-align: left;
	padding: 4px 8px;
	border: 1px solid #d4d4d4;
}
/* --- END OF CLIENT TABLE --- */

/* --- START OF SPINNER --- */
.spinner {
	border: 10px solid #00000026;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	animation: rotate 1s infinite linear;
	margin-top: -15px;
	margin-left: -15px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* --- END OF SPINNER --- */

/* --- START OF LINK --- */
.link {
	text-decoration: none;
	color: #425eef;
}

.link:hover {
	text-decoration: underline;
}
/* --- END OF LINK --- */

/* --- START OF MODAL --- */
.modal__container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0000007d;
	visibility: hidden;
	transition: 0.3s all;
	opacity: 0;
}
.modal__container--open {
	display: flex;
	visibility: visible;
	opacity: 1;
}

.modal {
	width: 100%;
	max-width: 400px;
	background: #fff;
	border-radius: 4px;
	height: 100%;
	max-height: 532px;
	display: flex;
	flex-direction: column;
}

.modal__options {
	padding: 0;
	background: #eaeaea;
	border-radius: 4px 4px 0 0;
	position: relative;
}

.modal__options button {
	background: transparent;
	border: 0;
	outline: none;
	color: black;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 42px;
}

.modal__title {
	margin: 0;
	font-size: 18px;
	text-align: center;
	padding: 10px;
}

.modal__content {
	flex: 1;
}
/* --- END OF MODAL --- */

/* --- START OF CLIENT MODAL --- */
.form {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.form__inputs {
	padding: 10px;
	flex: 1;
}

.form__inputs label {
	display: block;
}

.form__inputs input {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	box-sizing: border-box;
	border: 0;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	margin-bottom: 20px;
	outline: none;
}

.form__inputs input:last-child {
	margin-bottom: 0;
}

.form__inputs input:focus {
	border-color: #a79aff;
}

.form__buttons {
	padding: 10px;
	background: #f7f7f7;
	text-align: right;
}

.form__error {
	color: red;
	margin: 0;
	padding-right: 20px;
	display: none;
}

.form__error--show {
	display: inline-block;
}
/* --- END OF CLIENT MODAL --- */

/* --- START OF MOBILE SUPPORT --- */
@media only screen and (max-width: 600px) {
	.client-table {
		padding: 10px;
	}
	.client-table__table {
		font-size: 12px;
	}

	.client-table__table th,
	.client-table__table td {
		padding: 5px;
	}

	.client-table__table td:nth-child(2),
	.client-table__table th:nth-child(2) {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	.client-table__options {
		padding-bottom: 10px;
	}

	.button {
		font-size: 10px;
		padding: 5px 10px;
	}

	.modal {
		max-height: 100%;
		border-radius: 0;
	}

	.form__error {
		position: absolute;
		width: 100%;
		left: 10px;
		text-align: left;
		font-size: 13px;
		line-height: 24px;
	}
}
/* --- END OF MOBILE SUPPORT --- */
